<a href="https://colab.research.google.com/github/garrettfarley9/STL_neighborhood_trees/blob/main/stl_tree_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Money Tree Map
####Using QGIS and Saint Louis Open Data to map tree features against City Block median housing prices

###

##Importing Data

In [1]:
!pip install geopandas
import geopandas as gp

Requirement already satisfied: geopandas in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: fiona>=1.8.19 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.9.4.post1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.5.3)
Requirement already satisfied: pyproj>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (3.6.0)
Requirement already satisfied: shapely>=1.7.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (23.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (2023.7.22)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (1.23.5)

In [5]:
tdf = gp.read_file('/CITY_TREES.dbf')

In [6]:
print(tdf.columns)
print(tdf.shape)

Index(['ON_', 'STREET_NUM', 'STREET', 'COMMON', 'DBH', 'STEMS', 'CONDITION',
       'STORM_DAMA', 'HARDSCAPE_', 'OVERHEAD_U', 'XCOORD', 'YCOORD', 'GUID',
       'ADDRESS', 'ELIGIBLE', 'REPLANT', 'TREATED', 'LOCATION_T', 'LOCATION',
       'geometry'],
      dtype='object')
(118688, 20)

###Nan values

In [13]:

c = tdf[tdf['LOCATION_T'].isna()]
c.head()

,ON_,STREET_NUM,STREET,COMMON,DBH,STEMS,CONDITION,STORM_DAMA,HARDSCAPE_,OVERHEAD_U,XCOORD,YCOORD,GUID,ADDRESS,ELIGIBLE,REPLANT,TREATED,LOCATION_T,LOCATION,geometry
118624,NaN,NaN,NaN,NaN,0,0,N/A,NaN,NaN,NaN,0.0,0.0,D2A6599E-C498-49C8-8A6F-E2C423E53254,3937 RUSSELL AVE,Yes,Blackgum,NaN,NaN,3937 RUSSELL AVE,None
118625,NaN,NaN,NaN,NaN,0,0,N/A,NaN,NaN,NaN,0.0,0.0,87E679ED-3E62-4B23-9C89-CA6C519114A6,7126 MARDEL AVE,Yes,Tuliptree,NaN,NaN,7126 MARDEL AVE,None
118626,NaN,NaN,NaN,NaN,0,0,N/A,NaN,NaN,NaN,0.0,0.0,F7FAFADC-12BC-4CE2-88BB-BE877F8116BB,5716 EICHELBERGER AVE,Yes,"Zelkova, 'Green Vase'",NaN,NaN,5716 EICHELBERGER AVE,None
118627,NaN,NaN,NaN,NaN,0,0,N/A,NaN,NaN,NaN,0.0,0.0,4869CCE0-0C37-4629-B7E1-F9598FBCF730,1022 LOUISVILLE AVE,Yes,"Redbud, Eastern",NaN,NaN,1022 LOUISVILLE AVE,None
118631,NaN,NaN,NaN,NaN,0,0,N/A,NaN,NaN,NaN,0.0,0.0,9890B2E1-B101-4979-8CE1-E2A097E882FB,5517 ITASKA ST,Yes,"Redbud, Eastern",NaN,NaN,5517 ITASKA ST,None

##Cleaning Tree Data

In [6]:
tdf['COMMON'] = tdf['COMMON'].str.capitalize()
tdf.head()

,ON_,STREET_NUM,STREET,COMMON,DBH,STEMS,CONDITION,STORM_DAMA,HARDSCAPE_,OVERHEAD_U,XCOORD,YCOORD,GUID,ADDRESS,ELIGIBLE,REPLANT,TREATED,LOCATION_T,LOCATION,geometry
0,OAK HILL AVE,4067,UTAH ST,"Maple, red",5,1,Fair,No,No,No,889983.173256,1.006871e+06,{000025D7-9880-4FEA-9418-289F5E506BE8},4067 UTAH ST,Yes,NaN,FALSE,Easement Tree,4067 UTAH ST,None
1,SWAN AVE,4427,SWAN AVE,"Maple, silver (restricted use)",18,1,Poor,No,No,No,568477.616427,1.016695e+06,{00004E14-7BFA-4BFA-AE16-B97C20D6C373},4427 SWAN AVE,Yes,NaN,FALSE,Easement Tree,4427 SWAN AVE,None
2,ENRIGHT AVE,5501,ENRIGHT AVE,Vacant,0,0,N/A,No,No,No,882794.969857,1.027355e+06,{00005BB3-56A7-4DE0-8830-2BD5FF695DDE},5501 ENRIGHT AVE,Yes,NaN,FALSE,Easement Tree,5501 ENRIGHT AVE,None
3,BLOW ST,3655,BLOW ST,Vacant,0,0,N/A,No,No,No,887255.794446,9.921068e+05,{000085FC-BD37-4D9D-BBF6-0E3287270D68},3655 BLOW ST,Yes,"Redbud, Eastern",FALSE,Easement Tree,3655 BLOW ST,None
4,COLEMAN AVE,1821,COLEMAN AVE,Vacant,0,0,N/A,No,No,No,899440.025369,1.025467e+06,{0000A65A-A225-4A9C-9FBA-213CA68E6D5F},1821 COLEMAN AVE,Yes,NaN,FALSE,Easement Tree,1821 COLEMAN AVE,None

###Maple tree cleaning

In [19]:
maple = tdf[tdf['COMMON'].str.contains('[Ma]ple', na = False)]
maple = maple[maple['COMMON', 'DBH']]
# .str.capitalize()

# maple.unique()

KeyError: ignored

In [ ]:
import seaborn as sns

###Ash tree cleaning

In [8]:
ash = tdf[tdf['COMMON'].str.contains('[Aa]sh', na = False)]
ash = ash['COMMON'].str.capitalize()
ash.unique()
# def spp(x, species = ''):
#   species =
#   tdf[tdf['COMMON'].str.contains(species, na = False)]

array(['Ash, green', 'Ash, white', 'Ash, pop', 'Mountainash, american',
       'Ash, blue', 'Ash green', 'Ash, european', 'Hawthorn, washington',
       'Ash, spp.', 'Green ash', 'Ash, narrow-leafed', 'Ash, black',
       'Ash'], dtype=object)

###General tree cleaning
Here we are going to apply the same sort of species cleaning for the other genera of trees.

In [9]:
tdf['COMMON'].unique()

array(['Maple, red', 'Maple, silver (restricted use)', 'Vacant',
       'Sweetgum (undesirable)', 'Maple, silver', 'Dogwood, flowering',
       'Maple', 'Oak, pin', 'Oak, english', 'Linden, littleleaf',
       'Pear, callery', 'Stump', 'Maple, freeman', 'Baldcypress, common',
       'Redbud, eastern', 'Sycamore american (restricted use)',
       'Ash, green', 'Ash, white', "Redbud, white 'whitebud'",
       'Maple, sugar', 'Hornbeam, european', 'Crabapple, flowering',
       'Blackgum', 'Hawthorn', 'Serviceberry, spp.', 'Sycamore, american',
       'Elm, hybrid', 'Planetree, london', 'Oak, chinkapin',
       'Cherry/plum, spp.', 'Honeylocust', 'Tuliptree',
       "Serviceberry, apple 'autumn brilliance'",
       'Honeylocust, thornless', 'Ginkgo', "Oak, english 'fastigiata'",
       "Linden, american 'redmond'", 'Oak, pin (restricted use)',
       'Zelkova, japanese', 'Maple, amur', 'Oak, red', 'River, birch',
       'Oak, northern red', 'Oak, sawtooth', 'Oak, swamp white',
       'Maple, freeman (autumn blaze)', 'Redcedar, eastern',
       'Hackberry, common', 'Holly, fosters', 'Serviceberry',
       "Lilac, japanese tree 'ivory silk'", 'Maple, norway',
       'Linden, littlele', 'Birch, gray', 'Japanese pagodatree',
       "Maple, sugar 'green mountain'", 'Cypress, bald', 'Elm, slippery',
       'Elm, siberian', "Zelkova, 'green vase'",
       'Gingko (princeton sentry)', "Redbud, eastern 'forest pansy'",
       'Tree of heaven', 'Lilac, japanese tree', 'Cherry, (amur) choke',
       'Serviceberry, downy', "Cherry, 'kwanzan'", 'Oak, spp.',
       "Zelkova, 'village green'", 'Sweetgum', 'Zelkova', 'Redbud',
       'Elm, frontier', 'Catalpa, northern',
       'Crabapple (prairiefire, snowdrift, springsnow)',
       'Pine, eastern white', "Maple, freeman 'armstrong'",
       'Hornbeam, american', 'Magnolia, star', 'Pine, scotch',
       'Sugarberry', 'Birch, river', 'Elm, american', 'Osage-orange',
       'Hawthorn, spp.', 'Kentucky coffeetree', 'Elm, homestead',
       'Maple, japanese', 'Kentucky coffee tree', 'Hackberry',
       'London, planetree', 'Oak, white', 'Oak, willow', 'Goldenraintree',
       'Mulberry, white', 'Dogwood, roughleaf', 'Planetree, londo',
       "Maple, sugar 'legacy'", 'Unknown tree',
       'Sycamore, london planetree', 'Ash, pop', 'Dogwood, kousa',
       'Maple, paperbark', 'Arborvitae, eastern', 'Willow, black',
       'Maple, hedge', 'Oak, shingle', 'Rose-of-sharon', 'Oak, hybrid',
       'Mimosa', 'Oak', 'Magnolia, saucer', 'Bur oak', 'Yellowwood',
       "Maple, freeman 'autumn blaze'", 'Serviceberry, allegheny',
       'Kentucky coffee', "Maple, red 'red sunset'", 'Hornbeam, americ',
       'Elm, american (undesirable)', 'Oak, shumard',
       "Linden, littleleaf 'glenleven'", 'Mountainash, american',
       'Oak, scarlet', 'Serviceberry, shadblow', 'Maple, tatarian',
       'Sassafras', 'Elm', 'Cherry', "Locust, honey 'shademaster'",
       'Other', 'Oak, black', 'Persimmon, common', 'Pear, common',
       'Arborvitae spp.', 'Linden, american', 'Smoketree, american',
       'Baldcypress', 'Oak, bur', 'Pecan', 'Ash, blue', 'Spruce, norway',
       'Crabapple (adirondack, centurion, coral burst, sugar tyme, sargent tina)',
       'Alder, common', 'Elm, pioneer', "Maple, red 'october glory'",
       'Dawn redwood', 'Horsechestnut', "Ginkgo 'princeton sentry'",
       'Magnolia, sweetbay', 'Maple, paperwork', 'Hornbeam',
       'Juniper, spp.', 'Birch, paper', "Maple, japanese 'bloodgood'",
       "Birch, river 'heritage'", 'Pine, austrian', 'Holly, american',
       'Maple, sycamore', 'Spruce, white', 'Boxelder', 'Oak, fastigiata',
       'Spruce, colorado', 'Pondcypress', 'Persian parrotia', 'Yew, spp.',
       'Catalpa, southern', 'Cottonwood, eastern', 'Sycamore, americ',
       'Crabapple, flowe', 'Crapemyrtle, common', 'Hackberry, commo',
       'Willow, corkscrew', "Zelkova 'village green'",
       'Magnolia, southern', 'Spruce, blue', 'Amur maackia',
       'Gingko (undesirable, female trees only)',
       'Magnolia, cucumbertree', 'American hophornbeam', 'Elm, chinese',
       'Golden raintree', 'Pine, white', 'Oak, texas red', 'Catalpa',
       'Unknown', 'Sourgum (blackgum)', 'Sycamore', 'Honeysuckle, spp.',
       'Boxelder (undesirable)', 'Cherry/plum, spp', 'Pear, bradford',
       'Walnut, black', 'Zelcova', 'Cedar', 'Cherry, black', 'Maple red',
       'Cherry, yoshino', 'Arborvitae', 'Dogwood, spp.', 'Yellow wood',
       'Aspen, quaking', 'Pine, shortleaf', 'Apple, common',
       'Holly american', "Magnolia, southern 'bracken's brown beauty'",
       'Elm, siberian (undesirable)', 'Dogwood, gray', 'Mulberry, red',
       'Beech, american', 'Royal paulownia', 'Elm, spp.', 'Pine, mugo',
       'Mulberry', 'Lilac', 'Coffee tree', 'Gingko (autumn gold)',
       'Maple, striped', 'Oak, water', 'Alder, hazel',
       'Elm,â\x80\x9dhomesteadâ\x80\x9d', 'Oak, swamp chestnut',
       "Linden, silver 'sterling'", 'Serviceberry, sp', 'Poplar',
       'Pine, eastern wh', 'Ash green', 'Locust, black',
       'Mulberry, black', 'Witchhazel, common', 'Linden', 'Chestnut',
       'Pine, japanese black', 'Willow, weeping', 'Honeylocust, tho',
       'Elm, cedar', 'Crabapple, coralburst', 'Planetree,london',
       'Pine, ponderosa', 'Hornbeam, europe', 'Buckeye, ohio', 'Oak pin',
       'Oak, nuttall', 'Locust', "Hornbeam, european 'fastigiata'",
       'Elm, lacebark', 'Oak, northern re', 'Red maple', 'Elm, rock',
       'Birch, european white', 'Oak, post', 'Ash, european',
       'Catalpa, norther', 'Mulberry (morus sp. undesirable)',
       'Birch, crimson frost', "Cherry 'kwanzan'", 'Bald cypress',
       'Hawthorn, washington', 'Oak northern red', 'Sumac, staghorn',
       'White oak', 'Zelkova, chinese', 'Shantung maple',
       'Buckthorn, common', 'London plaintree', 'Ash, spp.',
       'Hophornbeam, american', 'Maple, spp.', 'Fringetree, white',
       'Oak, sand post', 'Pawpaw, common', 'Arborvitae, oriental',
       'Cherry \'kwanzan"', 'Dogwood, red osier', 'Linden, silver',
       'Oak, chinquapin', 'Vamcant', 'Peach, common', 'Willow, spp.',
       'Maple, black', 'Cypress', 'Cherry kwanzan', 'Pine, red',
       'English oak â\x80\x9cfastigiata â\x80\x9c',
       'Clump species (restricted use)', 'Crabapple', 'River birch',
       'Pine, limber', 'Plum, cherry', 'Hardy rubbertree', 'Douglas-fir',
       'Maple,hedge', 'Ailanthus', 'Cherry, pin', 'Snowbell, japanese',
       "Locust, honey 'skyline'", 'Japanese pagoda tree',
       'Elm, â\x80\x9chomestead â\x80\x9c', 'Oak, cherrybark',
       'Cherry (amur), choke', 'Crabapple, spring snow', 'Maple, trident',
       'Amur corktree', 'Hlckory', 'Pin oak', 'Sycamore (restricted use)',
       'Pine, loblolly', 'Persimmon tree', 'Lilac, japanese',
       'Euonymus, spp.', 'Walnut', 'Oak chinkapin', 'Zelkova, japanes',
       'Pear', 'Pistache, chinese', 'Cherry, flowr', 'Fir, white',
       'Hemlock', 'Tupelo, water', 'Lilac, common', 'Shingle oak',
       'Cherry, japanese flowering', 'Douglasfir',
       'Locust, black (undesirable)', 'Green ash', 'Oak, overcup',
       'Maple â\x80\x9carmstrongâ\x80\x9d', 'Spruce, serbian',
       'Norfolk island pine', 'Cottonwood', 'London planetree',
       'Spanish cherry', 'Redwood, dawn', 'Maple freeman (armstrong)',
       'Viburnum, rusty blackhaw', 'Crabapple, prairiefire',
       "Arborvitate 'emerald'", 'Ash, narrow-leafed', 'Dogwood, pagoda',
       'Dogwood, flowering (white)', 'Persimmon', 'Riverbirch',
       'Redcedar, easter', 'Oak swamp white', 'Hickory',
       'Mulberry, paper', 'Elm, â\x80\x9chomesteadâ\x80\x9d',
       'Honey locust', 'Elm,â\x80\x9dhomestead', 'Beech, european',
       'Silverbell, carolina', 'Cypress,  bald', 'Oak, northern pin',
       'Swamp white oak', 'Ash, black', 'Fig, common', 'Locust, honey',
       'Ninebark, common', 'Dogwood, flowering (red)', 'Euonymus',
       'Pear, aristocrat', 'Chestnut, chinese', 'Armstrong maple',
       'Gingko', 'Butternut', 'Dogwood, floweri', 'London plain tree',
       'Dogwood, flowering (pink)', 'Viburnum, spp.',
       'Falsecypress, japanese', "Zelkova 'green vase'", 'Willow, pussy',
       'Birch, sweet', 'English oak', 'Magnolia, spp.', 'Cherry, sweet',
       'Ash', 'Maple japanese', 'Japanese maple', 'Ginkgo (female)',
       'Sumac, spp.', 'Firethorn, scarlet',
       'Tree of heaven (undesirable)', 'Oak, pin oak', 'Bldcypress',
       'Sweetbay', 'Maple , red', 'Cherry, kwanzan',
       'Elm â\x80\x9chomesteadâ\x80\x9d', 'Katsuratree', 'Tulip, poplar',
       'Chokecherry, common', 'Birch river', 'Filbert, european',
       'Japanese, lilac', 'Apricot', 'Ginkgo-female', 'Japanese lilac',
       'Magnolia', 'Oak, schuettei', 'Persimmon, commo', 'Willow, globe',
       'Cottonwood, east', 'Ginkgo "princeton sentry"',
       "Crabapple, 'donald wyman'", 'Walnut, english', 'Tulip poplar',
       'Magnolia, cucumber', 'Apple'], dtype=object)

##Cleaning Housing Data

In [ ]:
import pandas as pd

In [ ]:
bdf = pd.read_csv('/content/PrclSale.csv')
bdf['SaleDate'] = pd.to_datetime(bdf['SaleDate'])

bdf = bdf.loc[bdf['SaleDate'] >= '2010-01-01']
# bdf = bdf.dropna()
bdf = bdf.loc[bdf['SalePrice'] >= 10000]
bdf['block_median']= bdf.groupby('CityBlock')['SalePrice'].transform('median')
bdf = bdf.drop(labels = ['OwnerCode', 'SaleNum', 'AsrParcelId', 'LRMSSaleDate'], axis = 1)

bdf['block_num'] = (bdf['CityBlock'] +10000) * 100
bdf['block_num']= bdf['block_num'].astype(int)
#bdf.tail(50)
bdf.to_csv('median_block')

##Exploratory Data Analysis